# Dependencies
node_modules/
coverage/
yarn.lock

# Environment
.env
.env.local

# Build outputs
dist/
build/

# Database
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/migrations/